/* .Todos-text {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
  animation: strikeitem 0.3s ease-out 0s forwards;
} */
.Todos div,
i {
  cursor: pointer;
}

.Todos-Strike {
  text-decoration: line-through;
}

.Todos {
  display: flex;
  margin: 0 -3rem 4px;
  max-width: 500px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
/* 
@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  } */
/* z */

.Todos-delete {
  border: none;
  background: none;
  -webkit-appearance: none;
  /* cursor: pointer; */
  color: #fff;
}

.Todos div {
  overflow-x: hidden;
  max-width: 300px;
}

.Todos i {
  max-width: 80px;
}

@media (max-width: 500px) {
  .Todos {
    padding: 1rem;
    width: 300px;
  }
  .Todos div {
    overflow-x: scroll;
    width: 200px;
  }
}
